body{
    background-color:lightblue;
}
.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-content:center;
    height:100vh;
}

#grid-container {
    display:flex;
    flex-wrap:wrap;
    margin:0;
    width: 600px; /* Example fixed width for the container */
    height: 600px; /* Example fixed height for the container */
    border: none;
    padding-bottom:20px;
}



.grid-cell {
    border: 0.5px solid lightgray;
    
    background:#AAAAAA;
   /* width:25px; /* 400/16 gives us the exact px needed to fit 16x16 */
   /* height:25px; */
    box-sizing:border-box; /* makes border included in width and height of each cell */
}


.clear-btn{
  background-color: #FFFAA0;
  border: none;
  border-radius:15px;
  font-weight:bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family:'Montserrat', sans-serif;
}
.clear-btn:hover{
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}

.title{
    display:flex;
    justify-content:center;
    color: #FFFAA0;
    font-family:'Lobster', cursive;
    font-size:50px;
}
.border{
    background-color:#FF4433;
    padding:80px;
    padding-top:10px;
    padding-bottom:20px;
    border-radius:10px;
    border:none;
}

.grid-size-slider{
    text-align:center;
    font-family:'Montserrat', sans-serif;
    font-weight:bold;
}
/*style of slider */
.slider::-webkit-slider-runnable-track {
    background:#FFFAA0;
    border-radius:24px;

}

input[type="color"]{
    width:30px;
    height:30px;
}

.display-grid-size-text{
    display:flex;
    justify-content:center;
}

.align-options{
    display:flex;
    justify-content:space-between;
    align-items:center;
}



